{% extends 'base.html' %}
{% load static %}
{% block header %}{% endblock %}

{% block content%}
<div class="animate transition duration-1000 ease-in-out opacity-0 grid mx-auto lg:flex text-white md:m-4 bg-[url('../../images/background2.webp')] bg-cover bg-center">
    <div class="grid place-content-center">
        <img width="400" height="400" src="{% static 'images/nae.webp' %}" alt="Cristi" class="max-w-auto lg:rounded-full">
    </div>

    <div class=" text-left lg:m-5 2xl:m-10 text-lg p-4 flex-1 bg-black/50 font-allura text-lg lg:text-xl">
        <p class="mt-5">
            Mă numesc Diaconeasa Cristi, m-am nascut in Pitesti Jud. Arges si locuiesc in Mioveni,sunt 
            un familist convins si iubesc meseria de tatuator din adancul inimii.
        </p>
        <p>
            Pasiunea mea a luat viata in anul 2007 dintr-o simpla nebunie, cochetam cu desenul de mic copil, 
            oriunde ma lovea inspiratia trebuia sa "mazgalesc" ceva, pana cand cu un prieten la fel de rebel 
            ca mine, am inceput sa improvizam un aparat de tatuat   dintr-un motoras de masina de tuns, 
            un tub de pix, o coada de ligura , varf de ac de minge, un nasture si nu in ultimul rand un arc 
            de pix clasic, indreptat la cald si ascutit,dezinfectat....(totul profi 0o). Dupa ce am terminat
             de mesterit asa zisul "aparat" am inceput sa ne "tatuam" reciproc, pentru prietenul meu a fost 
             ceva de moment, pentru mine hmm sa ii spunem scanteia care a aprins flacara intensa pentru 
             aceasta pasiune.
        </p>
        <p>
            Incepand de atunci am apelat la o cunsotinta care era strungar de meserie, sa imi faca un 
            aparat de tatuat mai ok pe care sa il pot demonta mult mai usor pentru al curata si dezindecta 
            si care sa aiba mai multe capete pe care sa le pot schimba.... am inceput sa exersez cu el in 
            jur de 1 an pe sorici,portocale,banane si oameni (kobai) iar dupa ceva timp am achizitionat un 
            aparat de tatuat de la un tatuator din oras si de la acel aparat sau adunat mai multe, la fel  
            cunostintele si experienta mea s-au imbogatit pana cand am urmat un curs specializat de tatuator 
            in urma caruia am obtinut certificatul de absolvire si  dupa aceasta, am lucrat intr-un salon din 
            Bucuresti iar apoi m-am reintors la "origini" unde am deschis primul meu salon.
        </p>
        <p>
            De aici multi stiu viata mea sau majoritatea dintre cei care au citit mai sus si-au facut 
            oarecum o parere despre mine ce fel de om sunt.
        </p>
        <p>
        </p>
        <p>
            Imi  plac foarte mult stilurile: realist, color, traditional, prefer sa lucrez custom cu ideea clientului.
        </p>
        <p class="text-yellow-300 text-center m-4 border-b border-yellow-300 p-4 font-bold text-xl">
            Va astept la intepat! ;..;
        </p>
    </div>

</div>
{% endblock%}
