{% extends 'base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/despre.css' %}">
{% endblock %}


{% block content %}
  <div class="relative flex flex-wrap justify-evenly">

    <a class="close hidden" onclick="closeModal()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
      </svg>
    </a>

    {% for image in portofoliu %}
     <img width="200" height="200" alt="{{ image.image.name }}" class="Slides object-cover w-64 h-64 transition-all duration-300 ease-in-out hover:scale-150 mb-2" src="{{ image.image.url }}" loading="lazy">
    {% endfor %}

  </div>
  <a class="prev hidden" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next hidden" onclick="plusSlides(1)">&#10095;</a>

{% endblock %}

{% block script %}
  <script src="{% static 'js/despre.js' %}"></script>
{% endblock %}
