{% load static tailwind_tags %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>WAZZA INK TATTO</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% tailwind_css %}
  {% block header %}

  {% endblock %}
  <script src="{% static 'js/datetimepick.js'%}"></script>
  <link rel="stylesheet" href="{% static 'css/datetimepick.css' %}">
  <script src="{% static 'js/alpine.js' %}" defer></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="{% static 'js/base.js'%}" defer></script>

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>

<body class="flex flex-col w-screen overflow-x-hidden font-nanum bg-gray-600">
  {% include 'navbar.html' %}

  <section id="contact" class="hidden text-white bg-gray-700/50 sticky top-0 w-screen h-screen z-10">
    <div class="container mx-auto items-center px-5 py-12 lg:px-20">
      <div class="
            flex flex-col
            w-full
            max-w-xl
            p-10
            mx-auto
            my-6
            transition
            duration-500
            ease-in-out
            transform
            bg-gray-900
            rounded-lg
            md:mt-0
          ">
        <div class="flex w-full">
          <h3 class="text-red-500">Rezervare</h3>
          <button id="contactBtn" class="absolute right-5 top-9 text-red-500">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-5" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
          </button>

        </div>

        <div class="mt-8">
          <div class="mt-6">
            <form method="POST" enctype="multipart/form-data" class="space-y-6">
              {% csrf_token %}
              <div class="grid grid-cols-1 gap-2 lg:grid-cols-2">
                <div>
                  <label class="block text-sm font-medium text-neutral-600"> Nume </label>
                  <div class="mt-1">
                    {{ form.name }}
                  </div>
                </div>
                <div class="space-y-1">
                  <label class="block text-sm font-medium text-neutral-600"> Email </label>
                  <div class="mt-1">
                    {{ form.email }}
                  </div>
                </div>
              </div>

              <div class="grid grid-cols-1 gap-2 lg:grid-cols-2">
                <div>
                  <label class="block text-sm font-medium text-neutral-600"> Telefon </label>
                  <div class="mt-1">
                    {{ form.phone }}
                  </div>
                </div>
                <div class="space-y-1">
                  <label class="block text-sm font-medium text-neutral-600"> Data </label>

                  <div x-data
                    x-init="flatpickr($refs.datetimewidget, {wrap: true, enableTime: true,time_24hr: true , dateFormat: 'j m, Y H:i'});"
                    x-ref="datetimewidget" class="flatpickr container mx-auto col-span-6 sm:col-span-6 mt-5">
                    <div class="flex align-middle align-content-center">
                      {{ form.date }}
                    </div>

                  </div>
                </div>
              </div>

              <div>
                <label class="block text-sm font-medium text-neutral-600"> Descriere </label>
                {{ form.description }}
              </div>

              <div class="space-y-1">
                <label class="block text-sm font-medium text-neutral-600"> Incarca o imagine </label>
                <div class="mt-1">
                  {{ form.image}}
                </div>
              </div>

              <div>
                <button type="submit" class="
                      flex
                      items-center
                      justify-center
                      w-full
                      px-10
                      py-4
                      text-base
                      font-medium
                      text-center text-white
                      transition
                      duration-500
                      ease-in-out
                      transform
                      bg-red-500
                      rounded-xl
                      hover:bg-red-700
                      focus:outline-none
                      focus:ring-2
                      focus:ring-offset-2
                      focus:ring-blue-500
                    "> Trimite </button>
              </div>
            </form>
            <div class="relative my-4">
              <div class="absolute inset-0 flex items-center">
                <div class="w-full border-t border-red-500"></div>
              </div>
              <div class="relative flex justify-center text-sm">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% block content%}
  <div class="h-screen w-screen box-border relative">
    <video class="h-full w-full object-cover overflow-hidden" autoplay muted>
      <source src="{% static 'videos/cinematic.mp4' %}" type="video/mp4">
    </video>
    <div
      class="absolute flex items-center top-9 text-white text-animation text-sm lg:text-xl lg:w-1/2 lg:m-4 bg-black/50 p-3">
      <div class="mr-3">
        Bine ai venit pe wazzainktattoo, unde pasiunea noastră pentru artă și design se întâlnește cu
        dorința ta de a-ți exprima personalitatea prin tatuaj. Suntem mândri să fim un salon de tatuaje dedicat
        creării unor opere de artă cu adevărat unice și personalizate, care îți vor rămâne alături pentru întreaga
        viață.
      </div>
    </div>
    <div
      class="absolute flex items-center top-1/2 text-white text-animation text-sm lg:text-xl lg:w-1/2 lg:m-4 bg-black/50 p-3">
      <div class="mr-3">
        <p>În centrul afacerii noastre stau artiștii noștri tatuatori talentați, care împărtășesc o pasiune comună
          pentru arta corpului și care își asumă angajamentul de a crea tatuaje de înaltă calitate pentru fiecare
          client. Indiferent dacă ești în căutarea unui tatuaj mic și subtil sau a unei capodopere de artă în întregime,
          suntem aici să te ajutăm să îți transformi ideile și visele în realitate.
        </p>
        <p>
          Pe site-ul nostru, poți explora portofoliile noastre de tatuaje și să găsești inspirație în designurile
          noastre unice. Suntem mândri să oferim o gamă largă de opțiuni de tatuaje, de la cele clasice la cele mai
          moderne și la cele mai avangardiste. Ne asigurăm că gama noastră de tatuaje este mereu actualizată, astfel
          încât să putem satisface nevoile și preferințele tuturor clienților noștri.
        </p>
      </div>
    </div>
    <div
      class="absolute flex items-center bottom-20 text-white text-animation text-sm lg:text-xl lg:w-1/2 lg:m-4 bg-black/50 p-3">
      <div class="mr-3">
        <p>Pentru a ne asigura că fiecare tatuaj pe care îl creăm este la înălțimea așteptărilor tale, lucram cu cele
          mai bune echipamente și cele mai avansate tehnologii disponibile. Folosim culori de înaltă calitate și ace
          sterile, iar spațiul nostru de lucru este mereu curat și igienic, pentru a ne asigura că totul este pregătit
          în cel mai bun mod posibil.
        </p>
        <p>
          Suntem dedicați să îți oferim o experiență prietenoasă, personalizată și confortabilă. Echipa noastră îți stă
          la dispoziție pentru a răspunde tuturor întrebărilor tale și pentru a te ajuta să îți îndeplinești dorințele.
          Fie că ești un client nou sau unul fidel, ne străduim mereu să ne depășim așteptările, să oferim servicii de
          înaltă calitate și să te facem să te simți ca acasă.
        </p>
      </div>
    </div>
    <div
      class="absolute flex items-center top-9 right-0 text-animation-right text-white text-sm lg:text-xl lg:w-1/2 lg:m-4 bg-black/50 p-3">
      <div class="ml-3">
        <p>La noi, fiecare tatuaj este o operă de artă unică și personalizată, creată special pentru tine. Vino și
          explorează opțiunile noastre de tatuaje sau programează o întâlnire cu unul dintre artiștii noștri pentru o
          consultare personalizată. Vom lucra împreună pentru a crea tatuajul perfect pentru tine și pentru a-ți
          îndeplini toate dorințele, într-un mod sigur, profesionist și creativ.
        </p>
        <p>
          În plus, suntem dedicați să oferim cele mai bune servicii și prețuri pentru clienții noștri. Ne angajăm să
          oferim cel mai bun raport calitate-preț pentru fiecare tatuaj pe care îl creăm, astfel încât să poți obține
          tatuajul dorit, fără a compromite calitatea. De asemenea, suntem flexibili și deschiși la discuții în ceea ce
          privește opțiunile de plată și planurile de finanțare, pentru a-ți face experiența cât mai ușoară și mai
          accesibilă.
        </p>
      </div>
    </div>
    <div
      class="absolute flex items-center bottom-20 right-0 text-animation-right text-white  text-sm lg:text-xl lg:w-1/2 lg:m-4 bg-black/50 p-3">
      <div class="ml-3">
        <p>În final, suntem pasionați de ceea ce facem și suntem mândri să oferim servicii de înaltă calitate clienților
          noștri. Suntem recunoscători că putem fi alături de tine în această călătorie a transformării ideilor tale în
          realitate. Vino și explorează site-ul nostru pentru a vedea portofoliul nostru de tatuaje și a găsi inspirație
          pentru următorul tău tatuaj. Dacă ai întrebări sau dorești să programezi o întâlnire cu unul dintre artiștii
          noștri, nu ezita să ne contactezi. Abia așteptăm să creăm împreună un tatuaj care să îți reprezinte
          personalitatea și stilul de viață
        </p>
      </div>
    </div>
  </div>

  <div class="transition duration-1000 ease-in-out w-full h-full mx-auto lg:px-32 opacity-0 animate">
    <div class="grid lg:flex-row lg:space-x-12">
      <div class="relative px-4 mt-12 lg:px-10 text-white lg:m-4 text-lg bg-black/70 rounded-lg py-3">
        <h1 class="text-red-700 border-b border-red-700 text-2xl p-2">Wazza Ink Tattoo</h1>
        <p class="mt-2"> Bine ai venit pe wazzainktattoo, unde pasiunea noastră pentru artă și design se întâlnește cu
          dorința ta de a-ți exprima personalitatea prin tatuaj. Suntem mândri să fim un salon de tatuaje dedicat
          creării unor opere de artă cu adevărat unice și personalizate, care îți vor rămâne alături pentru întreaga
          viață.
        </p>
      </div>
    </div>
  </div>

  <div class="transition duration-1000 ease-in-out w-full h-full mx-auto lg:px-32 opacity-0 animate">
    <div class="grid lg:flex-row lg:space-x-12">
      <div class="relative px-4 mt-12 lg:px-10 text-white lg:m-4 text-lg bg-black/70 rounded-lg py-3">
        <img class="my-8" src="{% static 'images/decor1.jpg' %}" alt="">
        <h2 class="text-red-700 border-b border-red-700 text-2xl my-2 p-2">De ce noi?</h2>
        <p>În centrul afacerii noastre stau artiștii noștri tatuatori talentați, care împărtășesc o pasiune comună
          pentru arta corpului și care își asumă angajamentul de a crea tatuaje de înaltă calitate pentru fiecare
          client. Indiferent dacă ești în căutarea unui tatuaj mic și subtil sau a unei capodopere de artă în întregime,
          suntem aici să te ajutăm să îți transformi ideile și visele în realitate.
        </p>
        <p>
          Pe site-ul nostru, poți explora portofoliile noastre de tatuaje și să găsești inspirație în designurile
          noastre unice. Suntem mândri să oferim o gamă largă de opțiuni de tatuaje, de la cele clasice la cele mai
          moderne și la cele mai avangardiste. Ne asigurăm că gama noastră de tatuaje este mereu actualizată, astfel
          încât să putem satisface nevoile și preferințele tuturor clienților noștri.
        </p>
      </div>
    </div>
  </div>

  <div class="transition duration-1000 ease-in-out w-full h-full mx-auto lg:px-32 opacity-0 animate">
    <div class="grid lg:flex-row lg:space-x-12">
      <div class="relative px-4 mt-12 lg:px-10 text-white lg:m-4 text-lg bg-black/70 rounded-lg py-3">
        <img class="my-8" src="{% static 'images/decor3.jpg' %}" alt="">
        <h2 class="text-red-700 border-b border-red-700 text-2xl my-2 p-2">Our Environment</h2>
        <p>Pentru a ne asigura că fiecare tatuaj pe care îl creăm este la înălțimea așteptărilor tale, lucram cu cele
          mai bune echipamente și cele mai avansate tehnologii disponibile. Folosim culori de înaltă calitate și ace
          sterile, iar spațiul nostru de lucru este mereu curat și igienic, pentru a ne asigura că totul este pregătit
          în cel mai bun mod posibil.
        </p>
        <p>
          Suntem dedicați să îți oferim o experiență prietenoasă, personalizată și confortabilă. Echipa noastră îți stă
          la dispoziție pentru a răspunde tuturor întrebărilor tale și pentru a te ajuta să îți îndeplinești dorințele.
          Fie că ești un client nou sau unul fidel, ne străduim mereu să ne depășim așteptările, să oferim servicii de
          înaltă calitate și să te facem să te simți ca acasă.
        </p>
      </div>
    </div>
  </div>

  <div class="transition duration-1000 ease-in-out w-full h-full mx-auto lg:px-32 opacity-0 animate">
    <div class="grid lg:flex-row lg:space-x-12">
      <div class="relative px-4 mt-12 lg:px-10 text-white lg:m-4 text-lg bg-black/70 rounded-lg py-3">
        <img class="my-8" src="{% static 'images/decor4.jpg' %}" alt="">
        <h2 class="text-red-700 border-b border-red-700 text-2xl my-2 p-2">Our Work</h2>
        <p>La noi, fiecare tatuaj este o operă de artă unică și personalizată, creată special pentru tine. Vino și
          explorează opțiunile noastre de tatuaje sau programează o întâlnire cu unul dintre artiștii noștri pentru o
          consultare personalizată. Vom lucra împreună pentru a crea tatuajul perfect pentru tine și pentru a-ți
          îndeplini toate dorințele, într-un mod sigur, profesionist și creativ.
        </p>
        <p>
          În plus, suntem dedicați să oferim cele mai bune servicii și prețuri pentru clienții noștri. Ne angajăm să
          oferim cel mai bun raport calitate-preț pentru fiecare tatuaj pe care îl creăm, astfel încât să poți obține
          tatuajul dorit, fără a compromite calitatea. De asemenea, suntem flexibili și deschiși la discuții în ceea ce
          privește opțiunile de plată și planurile de finanțare, pentru a-ți face experiența cât mai ușoară și mai
          accesibilă.
        </p>
      </div>
    </div>
  </div>

  <div class="transition duration-1000 ease-in-out w-full h-full mx-auto lg:px-32 opacity-0 animate">
    <div class="grid lg:flex-row lg:space-x-12">
      <div class="relative px-4 mt-12 lg:px-10 text-white lg:m-4 text-lg bg-black/70 rounded-lg py-3">
        <img class="my-8" src="{% static 'images/decor5.jpg' %}" alt="">
        <h2 class="text-red-700 border-b border-red-700 text-2xl my-2 p-2">in the end</h2>
        <p>În final, suntem pasionați de ceea ce facem și suntem mândri să oferim servicii de înaltă calitate clienților
          noștri. Suntem recunoscători că putem fi alături de tine în această călătorie a transformării ideilor tale în
          realitate. Vino și explorează site-ul nostru pentru a vedea portofoliul nostru de tatuaje și a găsi inspirație
          pentru următorul tău tatuaj. Dacă ai întrebări sau dorești să programezi o întâlnire cu unul dintre artiștii
          noștri, nu ezita să ne contactezi. Abia așteptăm să creăm împreună un tatuaj care să îți reprezinte
          personalitatea și stilul de viață
        </p>
      </div>
    </div>
  </div>

  {% endblock %}
  {% include 'footer.html' %}
  
  {% if messages %}
  {% for message in messages %}
  {% if message.tags %}
  <script>
    Swal.fire({
      position: 'top-center',
      icon: '{{ message.tags }}',
      title: '{{ message }}',
      showConfirmButton: true,
      timer: 10000
    })
  </script>
  {% endif %}
  {% endfor %}
  {% endif %}
</body>

</html>