{% load static %}
<div class="font-creepster h-screen w-screen box-border relative overflow-hidden background mb-10">
    <video class="h-full w-full object-cover" autoplay muted>
      <source src="{% static 'videos/cinematic.mp4' %}" type="video/mp4">
    </video>
    <div
      class="absolute flex items-center top-9 text-white text-animation text-sm lg:text-xl lg:w-1/2 lg:m-4 bg-black/50 p-3">
      <div class="mr-3">
        WAZZA INK TATTO
      </div>
    </div>
    <div
      class="absolute flex items-center top-1/2 text-white text-animation text-sm lg:text-xl lg:w-1/2 lg:m-4 bg-black/50 p-3">
      <div class="mr-3">
        <p>În centrul afacerii noastre stau artiștii noștri tatuatori talentați, care împărtășesc o pasiune comună
          pentru arta corpului și care își asumă angajamentul de a crea tatuaje de înaltă calitate pentru fiecare
          client. Indiferent dacă ești în căutarea unui tatuaj mic și subtil sau a unei capodopere de artă în întregime,
          suntem aici să te ajutăm să îți transformi ideile și visele în realitate.
        </p>
        <p>
          Pe site-ul nostru, poți explora portofoliile noastre de tatuaje și să găsești inspirație în designurile
          noastre unice. Suntem mândri să oferim o gamă largă de opțiuni de tatuaje, de la cele clasice la cele mai
          moderne și la cele mai avangardiste. Ne asigurăm că gama noastră de tatuaje este mereu actualizată, astfel
          încât să putem satisface nevoile și preferințele tuturor clienților noștri.
        </p>
      </div>
    </div>
    <div
      class="absolute flex items-center bottom-20 text-white text-animation text-sm lg:text-xl lg:w-1/2 lg:m-4 bg-black/50 p-3">
      <div class="mr-3">
        <p>Pentru a ne asigura că fiecare tatuaj pe care îl creăm este la înălțimea așteptărilor tale, lucram cu cele
          mai bune echipamente și cele mai avansate tehnologii disponibile. Folosim culori de înaltă calitate și ace
          sterile, iar spațiul nostru de lucru este mereu curat și igienic, pentru a ne asigura că totul este pregătit
          în cel mai bun mod posibil.
        </p>
        <p>
          Suntem dedicați să îți oferim o experiență prietenoasă, personalizată și confortabilă. Echipa noastră îți stă
          la dispoziție pentru a răspunde tuturor întrebărilor tale și pentru a te ajuta să îți îndeplinești dorințele.
          Fie că ești un client nou sau unul fidel, ne străduim mereu să ne depășim așteptările, să oferim servicii de
          înaltă calitate și să te facem să te simți ca acasă.
        </p>
      </div>
    </div>
    <div
      class="absolute flex items-center top-9 right-0 text-animation-right text-white text-sm lg:text-xl lg:w-1/2 lg:m-4 bg-black/50 p-3">
      <div class="ml-3">
        <p>La noi, fiecare tatuaj este o operă de artă unică și personalizată, creată special pentru tine. Vino și
          explorează opțiunile noastre de tatuaje sau programează o întâlnire cu unul dintre artiștii noștri pentru o
          consultare personalizată. Vom lucra împreună pentru a crea tatuajul perfect pentru tine și pentru a-ți
          îndeplini toate dorințele, într-un mod sigur, profesionist și creativ.
        </p>
        <p>
          În plus, suntem dedicați să oferim cele mai bune servicii și prețuri pentru clienții noștri. Ne angajăm să
          oferim cel mai bun raport calitate-preț pentru fiecare tatuaj pe care îl creăm, astfel încât să poți obține
          tatuajul dorit, fără a compromite calitatea. De asemenea, suntem flexibili și deschiși la discuții în ceea ce
          privește opțiunile de plată și planurile de finanțare, pentru a-ți face experiența cât mai ușoară și mai
          accesibilă.
        </p>
      </div>
    </div>
    <div
      class="absolute flex items-center bottom-20 right-0 text-animation-right text-white  text-sm lg:text-xl lg:w-1/2 lg:m-4 bg-black/50 p-3">
      <div class="ml-3">
        <p>În final, suntem pasionați de ceea ce facem și suntem mândri să oferim servicii de înaltă calitate clienților
          noștri. Suntem recunoscători că putem fi alături de tine în această călătorie a transformării ideilor tale în
          realitate. Vino și explorează site-ul nostru pentru a vedea portofoliul nostru de tatuaje și a găsi inspirație
          pentru următorul tău tatuaj. Dacă ai întrebări sau dorești să programezi o întâlnire cu unul dintre artiștii
          noștri, nu ezita să ne contactezi. Abia așteptăm să creăm împreună un tatuaj care să îți reprezinte
          personalitatea și stilul de viață
        </p>
      </div>
    </div>
  </div>

  <div class="background bg-[url('../../images/background.webp')] bg-cover bg-center h-screen w-screen mb-10 lg:sticky lg:top-0">
    <div class="transition duration-1000 ease-in-out w-full h-full mx-auto lg:px-32 opacity-0 animate flex items-center">
      <div class="grid lg:flex-row lg:space-x-12">
        <div class="relative px-4 mt-12 lg:px-10 text-white lg:m-4 text-sm lg:text-lg bg-black/50 rounded-lg py-3">
          <h1 class="text-red-700 border-b border-red-700 text-2xl p-2">Wazza Ink Tattoo</h1>
          <p class="mt-2"> Bine ai venit pe wazzainktattoo, unde pasiunea noastră pentru artă și design se întâlnește cu
            dorința ta de a-ți exprima personalitatea prin tatuaj. Suntem mândri să fim un salon de tatuaje dedicat
            creării unor opere de artă cu adevărat unice și personalizate, care îți vor rămâne alături pentru întreaga
            viață.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="background bg-[url('../../images/background2.webp')] bg-cover bg-center h-screen w-screen mb-10 lg:sticky lg:top-0">
    <div class="transition duration-1000 ease-in-out w-full h-full mx-auto lg:px-32 opacity-0 animate flex items-center">
      <div class="grid lg:flex-row lg:space-x-12">
        <div class="relative px-4 mt-12 lg:px-10 text-white lg:m-4 text-sm lg:text-lg bg-black/50 rounded-lg py-3 mb-10">
          <img class="my-8" src="{% static 'images/decor1.webp' %}" alt="">
          <h2 class="text-red-700 border-b border-red-700 text-2xl my-2 p-2">De ce noi?</h2>
          <p>În centrul afacerii noastre stau artiștii noștri tatuatori talentați, care împărtășesc o pasiune comună
            pentru arta corpului și care își asumă angajamentul de a crea tatuaje de înaltă calitate pentru fiecare
            client. Indiferent dacă ești în căutarea unui tatuaj mic și subtil sau a unei capodopere de artă în întregime,
            suntem aici să te ajutăm să îți transformi ideile și visele în realitate.
          </p>
          <p>
            Pe site-ul nostru, poți explora portofoliile noastre de tatuaje și să găsești inspirație în designurile
            noastre unice. Suntem mândri să oferim o gamă largă de opțiuni de tatuaje, de la cele clasice la cele mai
            moderne și la cele mai avangardiste. Ne asigurăm că gama noastră de tatuaje este mereu actualizată, astfel
            încât să putem satisface nevoile și preferințele tuturor clienților noștri.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="background bg-[url('../../images/background3.webp')] bg-cover bg-center h-screen w-screen mb-10 lg:sticky lg:top-0">
    <div class="transition duration-1000 ease-in-out w-full h-full mx-auto lg:px-32 opacity-0 animate flex items-center">
      <div class="grid lg:flex-row lg:space-x-12">
        <div class="relative px-4 mt-12 lg:px-10 text-white lg:m-4 text-sm lg:text-md bg-black/50 rounded-lg py-3">
          <img class="my-8" src="{% static 'images/decor3.webp' %}" alt="">
          <h2 class="text-red-700 border-b border-red-700 text-2xl my-2 p-2">Our Environment</h2>
          <p>Pentru a ne asigura că fiecare tatuaj pe care îl creăm este la înălțimea așteptărilor tale, lucram cu cele
            mai bune echipamente și cele mai avansate tehnologii disponibile. Folosim culori de înaltă calitate și ace
            sterile, iar spațiul nostru de lucru este mereu curat și igienic, pentru a ne asigura că totul este pregătit
            în cel mai bun mod posibil.
          </p>
          <p>
            Suntem dedicați să îți oferim o experiență prietenoasă, personalizată și confortabilă. Echipa noastră îți stă
            la dispoziție pentru a răspunde tuturor întrebărilor tale și pentru a te ajuta să îți îndeplinești dorințele.
            Fie că ești un client nou sau unul fidel, ne străduim mereu să ne depășim așteptările, să oferim servicii de
            înaltă calitate și să te facem să te simți ca acasă.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="background bg-[url('../../images/background4.webp')] bg-cover bg-center h-screen w-screen mb-10 lg:sticky lg:top-0">
    <div class="transition duration-1000 ease-in-out w-full h-full mx-auto lg:px-32 opacity-0 animate flex items-center">
      <div class="grid lg:flex-row lg:space-x-12">
        <div class="relative px-4 mt-12 lg:px-10 text-white lg:m-4 text-sm lg:text-lg bg-black/50 rounded-lg py-3">
          <img class="my-8" src="{% static 'images/decor4.webp' %}" alt="">
          <h2 class="text-red-700 border-b border-red-700 text-2xl my-2 p-2">Our Work</h2>
          <p>La noi, fiecare tatuaj este o operă de artă unică și personalizată, creată special pentru tine. Vino și
            explorează opțiunile noastre de tatuaje sau programează o întâlnire cu unul dintre artiștii noștri pentru o
            consultare personalizată. Vom lucra împreună pentru a crea tatuajul perfect pentru tine și pentru a-ți
            îndeplini toate dorințele, într-un mod sigur, profesionist și creativ.
          </p>
          <p>
            În plus, suntem dedicați să oferim cele mai bune servicii și prețuri pentru clienții noștri. Ne angajăm să
            oferim cel mai bun raport calitate-preț pentru fiecare tatuaj pe care îl creăm, astfel încât să poți obține
            tatuajul dorit, fără a compromite calitatea. De asemenea, suntem flexibili și deschiși la discuții în ceea ce
            privește opțiunile de plată și planurile de finanțare, pentru a-ți face experiența cât mai ușoară și mai
            accesibilă.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="background bg-[url('../../images/background5.webp')] bg-cover bg-center h-screen w-screen mb-10 lg:sticky lg:top-0">
    <div class="transition duration-1000 ease-in-out w-full h-full mx-auto lg:px-32 opacity-0 animate flex items-center">
    <div class="grid lg:flex-row lg:space-x-12">
      <div class="relative px-4 mt-12 lg:px-10 text-white lg:m-4 text-sm lg:text-lg bg-black/50 rounded-lg py-3">
        <img class="my-8" src="{% static 'images/decor5.webp' %}" alt="">
        <h2 class="text-red-700 border-b border-red-700 text-2xl my-2 p-2">in the end</h2>
        <p>În final, suntem pasionați de ceea ce facem și suntem mândri să oferim servicii de înaltă calitate clienților
          noștri. Suntem recunoscători că putem fi alături de tine în această călătorie a transformării ideilor tale în
          realitate. Vino și explorează site-ul nostru pentru a vedea portofoliul nostru de tatuaje și a găsi inspirație
          pentru următorul tău tatuaj. Dacă ai întrebări sau dorești să programezi o întâlnire cu unul dintre artiștii
          noștri, nu ezita să ne contactezi. Abia așteptăm să creăm împreună un tatuaj care să îți reprezinte
          personalitatea și stilul de viață
        </p>
      </div>
    </div>
  </div>
 </div>
