{% load static %}
<div class="font-creepster sticky top-0 z-20 w-full h-24 bg-black">
  <div class="h-24 flex max-w-screen-xl p-5 mx-auto items-center justify-between md:justify-center  md:flex-row  md:px-6 lg:px-8">
    <div class="box-border">
      <a class=" px-2 text-gray-300 md:mt-0 hover:text-yellow-300 focus:outline-none focus:shadow-outline box-border" href="{% url 'home:about'%}">Despre</a>
      <a class=" md:px-4 text-gray-300 md:mt-0 hover:text-yellow-300 focus:outline-none focus:shadow-outline box-border" href="{% url 'home:portofoliu' %}">Portofoliu</a>
    </div>
    <div class="z-20 w-16">
      <a href="/"> <img src="{% static 'images/WAZZA_INK_TATTOO_logo.webp' %}" alt="logo" class="w-14 hover:w-16"></a>
    </div>
    <div>
      <a class=" md:px-4 text-gray-300 md:mt-0 hover:text-yellow-300 focus:outline-none focus:shadow-outline" href="{% url 'home:info' %}">Info</a>
      <a class=" px-2 text-gray-300 md:mt-0 hover:text-yellow-300 focus:outline-none focus:shadow-outline" href="{% url 'home:rezervare' %}">Rezervare</a>
    </div>
  </div>
</div>