@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");

.text-animation{
  transform: translateX(-110%);
}

.text-animation-active::after{
  content: url("../../svg/tattoo-machine.svg");
}

.text-animation-active {
  animation: text-animation-active 5s steps(20, end) 1s 1 normal both;
}

.text-animation-right{
  transform: translateX(110%);
}

.text-animation-right-active {
  animation: text-animation-right-active 5s steps(20, end) 1s 1 normal both;
}

.text-animation-right-active::before{
  content: url("../../svg/tattoo-machine.svg");
  margin-left: 10px;
}

@keyframes text-animation-active {
  0% {
    transform: translateX(-110%);
  }
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-110%);
  }
}

@keyframes text-animation-right-active {
  0% {
    transform: translateX(110%);
  }
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(110%);
  }
}
