@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

@font-face {
  font-family: "Creepster";
  src: url("../../fonts/Creepster-Regular.ttf");
}
* {
  box-sizing: border-box;
}