@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");

@font-face {
  font-family: "Creepster";
  src: url("../../fonts/Creepster-Regular.ttf");
}

@font-face {
  font-family: "Bombing";
  src: url("../../fonts/Bombing.ttf");
}

@font-face {
  font-family: "Allura";
  src: url("../../fonts/Allura-Regular.ttf");
}

@font-face {
  font-family: "Signature";
  src: url("../../fonts/Four-Signature.ttf");
}

* {
  box-sizing: border-box;
}

.rollingOut {
  position: relative;
  animation: rollingOut 2s forwards;
}

.rollingIn {
  position: relative;
  animation: rollingIn 2s forwards;
}

@keyframes rollingOut {
  0% {
    transform: rotate(0deg);
    left: 0;
  }
  100% {
    transform: rotate(1080deg);
    left: calc(50vw - 100%);
  }
}

@keyframes rollingIn {
  0% {
    transform: rotate(0deg);
    left: calc(50vw - 100%);
  }
  100% {
    transform: rotate(-1080deg);
    left: 0;
  }
}